html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #f3f3f3;
  background-color: #100f0f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.no-scroll {
  overflow-y: hidden;
}

/*! Header */

.header {
  background-image: linear-gradient(
    200deg,
    rgba(111, 102, 102, 0.9) 0%,
    rgba(16, 15, 15, 0.9) 77%,
    rgba(16, 15, 15, 0.9) 100%
  );
  position: relative;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  padding: 24px 0;
}
.heder-menu--list {
  display: none;
}
.header-menu--item {
}
.header-menu--link {
  padding: 30px 0;
}
.menu--link {
  display: block;
  font-weight: 600;
  transition: color 0.2s ease-in;
}
.menu--link:hover,
.menu--link:focus {
  color: #bc1a1a;
}
.menu--link.active {
  color: #bc1a1a;
}
.header-contacts--btn {
  display: none;
}
.contacts-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #f3f3f3;
  min-width: 160px;
  height: 40px;
  padding: 10px 33px;
  border: 1px solid #f3f3f3;
  border-radius: 16px;
  background-color: transparent;
  cursor: pointer;
  transition:
    color 0.2s ease-in,
    border-color 0.2s ease-in;
}
.contacts-btn:hover,
.contacts-btn:focus {
  color: #bc1a1a;
  border-color: #bc1a1a;
}
.header-burger--btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 32px;
  height: 18px;
  cursor: pointer;
}

/*! Mobile menu */

.mobile-menu {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #100f0f;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in;
  z-index: 10;
}
.mobile-menu.open {
  transform: translateY(0%);
}
.mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.mobile-close--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  cursor: pointer;
}
.mobile-menu--list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  text-align: center;
}
.mobile-menu--item {
}
.mobile-menu--link {
  padding: 15px 0;
}
.mobile-contacts--btn {
  width: 160px;
  margin: 0 auto;
  display: block;
}

/*! Section Hero-Desktop */

.hero {
  display: none;
}

/*! Section Hero-Mobile */

.hero-mobile {
  padding: 40px 0;
  background-image: linear-gradient(
    200deg,
    rgba(111, 102, 102, 0.9) 0%,
    rgba(16, 15, 15, 0.9) 40%,
    rgba(16, 15, 15, 0.9) 99.98%
  );
  margin-bottom: 50px;
}
.hero-mobile--inner {
  display: flex;
  align-items: flex-start;
  gap: 0px;
  height: 335px;
  margin-bottom: 24px;
  position: relative;
}
.hero-mobile--inner::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 115px;
  transform: rotate(-20deg);
  left: 0;
  bottom: 24px;
  background-image: url("../images/hero-mobile/hero-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero-mobile--content {
  width: 155px;
}
.hero-mobile--title {
  font-size: 24px;
  font-weight: 500;
  padding-left: 8px;
  margin-bottom: 16px;
  border-left: 1px solid #f3f3f3;
}
.hero-mobile--slogan {
  letter-spacing: -0.01em;
}
.hero-mobile--slogan span {
  color: rgba(188, 26, 26, 0.71);
}
.hero-mobile--box-img {
  z-index: 1;
  margin-left: -40px;
}
.hero-mobile--box-img-text-1,
.hero-mobile--box-img-text-2,
.hero-mobile--box-img-text-3,
.hero-mobile--box-img-text-4 {
  display: none;
}
.hero-mobile--order--btn {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #f3f3f3;
  border-radius: 16px;
  background: rgba(188, 26, 26, 0.2);
  cursor: pointer;
  padding: 21px 20px;
  width: 100%;
  height: 66px;
  margin: 0 auto 16px auto;
  transition: background-color 0.2s ease-in;
}
.hero-mobile--order--btn:hover,
.hero-mobile--order--btn:focus {
  background-color: #bc1a1a;
}
.hero-mobile--descr {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-bottom: 24px;
}
.hero-mobile--descr--box {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 175px;
}
.hero-mobile--number {
  font-weight: 600;
  font-size: 32px;
}
.hero-mobile--descr--decor {
  width: 1px;
  height: 78px;
  background-color: #f3f3f3;
}
.hero-mobile--social {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/*! Section Store */

.store {
  margin-bottom: 50px;
}
.store .container {
  padding: 0;
}
.store-swiper {
  height: 400px;
}
.swiper-wrapper {
  box-sizing: border-box;
}
.store-slide {
  padding: 24px 15px;
  position: relative;
}
.store-inner {
  display: flex;
  align-items: center;
  gap: 24px;
}
.store-inner--first {
  justify-content: flex-start;
  margin-bottom: 40px;
}
.store-inner--second {
  justify-content: flex-end;
}
.store-box--img {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  box-shadow: 0 0 50px 0 #7c7070;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.store-descr {
  width: 140px;
}
.store-descr--title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}
.store-descr--text {
  display: none;
  margin-bottom: 20px;
}
.store-descr--btn {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  min-width: 108px;
  height: 29px;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
  border: none;
  color: #f3f3f3;
  background-color: rgba(188, 26, 26, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.store-descr--btn:hover,
.store-descr--btn:focus {
  background-color: #bc1a1a;
}
.store-swiper-button {
  width: 16px;
  height: 16px;
  left: 50%;
  transform: translateX(-50%);
}
.store-swiper-button-prev {
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  top: var(--swiper-navigation-top-offset, 98%);
}
.store-swiper-button-next {
  background-image: url("../images/arrow-up.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  top: var(--swiper-navigation-top-offset, 5%);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

/*! Section Movie */

.movie {
  padding: 20px 0;
  margin-bottom: 50px;
}
.movie-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.movie-list--item {
  width: 290px;
}
.movie-list--item-odd {
  margin-right: 0;
  margin-left: auto;
}
.movie-list--item-even {
  margin-right: auto;
  margin-left: 0;
}
.movie-item {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000;
  margin-bottom: 8px;
}
.movie-item--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  object-fit: cover;
}
.movie-item--btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: rgba(243, 243, 243, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #bc1a1a;
  outline: none;
  transition: background-color 0.2s ease-in;
  display: none;
}
.movie-item:hover .movie-item--btn {
  background-color: rgb(188, 26, 26, 1);
}
.movie-item--btn:focus {
  background-color: rgb(188, 26, 26, 1);
}
.movie-item--enable {
  cursor: pointer;
}
.movie-item--enable .movie-item--btn {
  display: flex;
}
.movie-item--title {
  text-align: center;
}

/*! Section Gallery */

.gallery {
  padding: 32px 15px;
  margin-bottom: 50px;
}
.gallery .container {
  padding: 0;
}
.gallery-swiper {
  /* border: 1px solid red; */
}
.swiper-wrapper {
  /* border: 1px solid green; */
}
.gallery-slide {
  display: flex;
  justify-content: center;
  padding: 0 24px 16px;
}
.gallery-slide--inner {
}
.gallery-slide--img {
  border-radius: 8px;
  max-width: 100%;
}
.gallery-swiper-button {
  width: 16px;
  height: 16px;
}
.gallery-swiper-button-prev {
  background-image: url("../images/arrow-prev.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  left: 0px;
}
.gallery-swiper-button-next {
  background-image: url("../images/arrow-next.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  right: 0px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}
.swiper-pagination-bullet {
  background-color: #6f6666;
}
.swiper-pagination-bullet-active {
  border: 1px solid #f3f3f3;
}

/*! Footer */

.footer {
  padding: 20px 0;
  position: relative;
}
.footer-main {
  display: flex;
  flex-direction: column;
  gap: 32px 0;
  margin-bottom: 60px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 32px 0;
}
.footer-menu--list {
  display: flex;
  gap: 0 20px;
}
.footer-contacts {
}
.footer-address--list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-address-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-address-link {
  transition: color 0.2s ease-in;
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: #bc1a1a;
}
.footer-social {
  position: absolute;
  display: flex;
  gap: 24px;
  right: 0;
  left: 0;
  bottom: 70px;
  width: 136px;
  margin: 0 auto;
}
.footer-copyright {
  font-size: 8px;
  line-height: 2.125;
  color: #979797;
  text-align: center;
}
.footer-copyright--link {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}
.footer-copyright--link {
  transition: color 0.2s ease-in;
}
.footer-copyright--link:hover,
.footer-copyright--link:focus {
  color: #bc1a1a;
}

/* ! Modal Contacts */

.modal-contacts--overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-contacts--overlay.is-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.modal-contacts {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 60px 15px;
  border-radius: 16px;
  background-color: #100f0f;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-contacts--close-btn {
  position: absolute;
  top: 16px;
  right: 34px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.modal-contacts--title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  /* width: 355px; */
  margin: 0 auto 50px auto;
}
.modal-contacts--form-label {
  display: block;
  margin-bottom: 12px;
}
.modal-contacts--form-input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f3f3f3;
  width: 100%;
  height: 52px;
  padding: 16px;
  border: 1px solid #f3f3f3;
  border-radius: 16px;
  background-color: transparent;
  outline: transparent;
  margin-bottom: 20px;
}
.modal-contacts--form-input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999ea3;
}
.modal-contacts--form-textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f3f3f3;
  width: 100%;
  height: 100px;
  padding: 16px;
  border: 1px solid #f3f3f3;
  border-radius: 16px;
  background-color: transparent;
  display: inline-block;
  resize: none;
  outline: transparent;
  margin-bottom: 40px;
}
.modal-contacts--form-textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #999ea3;
}
.modal-contacts--btn {
  font-size: 20px;
  font-weight: 800;
  color: #f3f3f3;
  width: 258px;
  height: 60px;
  margin: 0 auto;
  display: block;
  background-color: #321111;
  border: 1px solid #321111;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.modal-contacts--btn:hover,
.modal-contacts--btn:focus {
  background-color: #bc1a1a;
}

/* ! Modal Order */

.modal-order--overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-order--overlay.is-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.modal-order {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 60px 15px;
  border-radius: 16px;
  background-color: #100f0f;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-order--close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.modal-order--title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  width: 231px;
  margin: 0 auto 40px auto;
}
.modal-order--form-fieldset {
  margin-bottom: 40px;
}
.modal-order--form-title-group {
  margin-bottom: 24px;
}
.modal-order--form {
}
.modal-order--form-label {
  margin-bottom: 12px;
  display: block;
}
.modal-order--form-input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f3f3f3;
  width: 100%;
  height: 50px;
  padding: 15px;
  border: 1px solid #f3f3f3;
  border-radius: 16px;
  background-color: transparent;
  outline: transparent;
  margin-bottom: 20px;
}
.modal-order--form-input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999ea3;
}
.modal-order--form-select {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f3f3f3;
  width: 100%;
  height: 50px;
  padding: 15px;
  border: 1px solid #f3f3f3;
  border-radius: 16px;
  background-color: transparent;
  outline: transparent;
}
.modal-order--form-inner {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
.delivery-way {
  font-size: 16px;
  border: 1px solid #f3f3f3;
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  margin-bottom: 0;
  transition:
    color 0.2s ease-in,
    background-color 0.2s ease-in;
}
.delivery-way:hover,
.delivery-way:focus {
  color: #2c2c2c;
  background-color: #f3f3f3;
}
.delivery-to-department {
  border-radius: 16px 0 0 16px;
}
.delivery-by-courier {
  border-radius: 0 16px 16px 0;
}
.modal-order--form-checkbox:checked + .delivery-way {
  color: #2c2c2c;
  background-color: #f3f3f3;
}
.modal-order--form-wrapper {
  margin-bottom: 20px;
}
.modal-order--form-wrapper .modal-order--form-label {
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 12px;
}
.modal-order--form-radio--span {
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  background-color: #f3f3f3;
  position: relative;
}
.modal-order--form-radio--span::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.2s ease-in;
}
.modal-order--form-radio:checked + .modal-order--form-label > .modal-order--form-radio--span::after {
  background-color: #2c2c2c;
}
.modal-order--form-link {
  margin-bottom: 20px;
  display: inline-block;
  text-decoration: underline;
}
.modal-order--form-confirm-label {
  display: flex;
  align-items: center;
  gap: 12px;
}
.modal-order--form-confirm--span {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #f3f3f3;
  position: relative;
}
.modal-order--form-confirm--span::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: transparent;
  transition: background-color 0.2s ease-in;
}
.modal-order--form-confirm-input:checked + .modal-order--form-confirm-label > .modal-order--form-confirm--span::after {
  background-color: #f3f3f3;
}
.modal-order--btn {
  font-size: 20px;
  font-weight: 800;
  color: #f3f3f3;
  width: 258px;
  height: 60px;
  margin: 0 auto;
  display: block;
  background-color: #321111;
  border: 1px solid #321111;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.modal-order--btn:hover,
.modal-order--btn:focus {
  background-color: #bc1a1a;
}

/*! Media */

@media only screen and (min-width: 375px) {
  .hero-mobile--inner {
    justify-content: space-between;
  }
  .hero-mobile--inner::before {
    content: "";
    position: absolute;
    width: 302px;
    height: 177px;
    transform: rotate(-20deg);
    left: 0;
    bottom: 24px;
    background-image: url("../images/hero-mobile/hero-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .hero-mobile--content {
    width: 170px;
  }
  .hero-mobile--title {
    font-size: 28px;
  }
  .hero-mobile--box-img {
    margin-left: 0px;
  }
  .movie-list--item {
    width: 320px;
  }
  .footer-main {
    margin-bottom: 18px;
  }
  .footer-social {
    flex-direction: column;
    width: auto;
    margin: 0;
    top: 50%;
    right: 15px;
    left: auto;
    bottom: 0;
    transform: translateY(-50%);
  }
}

@media only screen and (min-width: 414px) {
  .header-menu--link {
    font-weight: 600;
  }
  .hero-mobile--content {
    width: 195px;
  }
  .hero-mobile--title {
    font-size: 30px;
  }
  .store-inner {
    gap: 44px;
  }
  .store-descr--title {
    font-size: 20px;
  }
  .store-inner {
    gap: 64px;
  }
  .modal-contacts {
    width: 530px;
    padding: 60px;
  }
  .modal-order {
    width: 504px;
    padding: 60px;
  }
}

@media only screen and (min-width: 425px) {
  .hero-mobile--order--btn {
    width: 384px;
  }
  .movie-list--item {
    width: 360px;
  }
}

@media only screen and (min-width: 500px) {
  .hero-mobile--content {
    width: 305px;
  }
  .hero-mobile--title {
    font-size: 48px;
  }
}

@media only screen and (min-width: 550px) {
  .store-swiper {
    height: 588px;
  }
  .store-box--img {
    width: 250px;
    height: 250px;
  }
  .store-img {
    width: 100%;
  }
  .store-swiper-button {
    width: 32px;
    height: 32px;
  }
  .movie-list--item {
    width: 450px;
  }
}

@media only screen and (min-width: 650px) {
  .store-descr {
    width: 300px;
  }
  .store-descr--title {
    font-weight: 600;
    font-size: 32px;
  }
  .store-descr--text {
    display: block;
  }
  .store-descr--btn {
    font-size: 20px;
    min-width: 202px;
    height: 43px;
    width: auto;
    margin: 0;
  }
  .movie-list--item {
    width: 550px;
  }
  .footer-main {
    flex-direction: row;
    justify-content: space-between;
    position: initial;
    margin-bottom: 40px;
  }
  .footer-nav {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .footer-menu--list {
    flex-direction: column;
    gap: 20px;
  }
  .footer-contacts {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .footer-social {
    position: initial;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 700px) {
  .footer-nav {
    gap: 50px;
  }
  .footer-contacts {
    gap: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .hero,
  .hero-mobile,
  .store,
  .movie,
  .gallery {
    margin-bottom: 100px;
  }
  .hero-mobile {
    display: none;
  }
  .hero {
    display: block;
    padding: 32px 0;
    background-image: linear-gradient(
      200deg,
      rgba(111, 102, 102, 0.9) 0%,
      rgba(16, 15, 15, 0.9) 40%,
      rgba(16, 15, 15, 0.9) 99.98%
    );
  }
  .hero-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .hero-content {
    width: 450px;
  }
  .hero-title {
    font-size: 64px;
    font-weight: 500;
    padding-left: 8px;
    margin-bottom: 24px;
    border-left: 1px solid #f3f3f3;
  }
  .hero-slogan {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 48px;
  }
  .hero-slogan span {
    font-weight: 900;
    color: rgba(188, 26, 26, 0.71);
  }
  .hero-order--btn {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #f3f3f3;
    border-radius: 16px;
    background: rgba(188, 26, 26, 0.2);
    cursor: pointer;
    padding: 20px 20px;
    min-width: 302px;
    height: 77px;
    margin-bottom: 48px;
    transition: background-color 0.2s ease-in;
  }
  .hero-order--btn:hover,
  .hero-order--btn:focus {
    background-color: #bc1a1a;
  }
  .hero-descr {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
  }
  .hero-descr--box {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 175px;
  }
  .hero-number {
    font-weight: 600;
    font-size: 32px;
  }
  .hero-descr--decor {
    width: 1px;
    height: 78px;
    background-color: #f3f3f3;
  }
  .hero-box--img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
  }
  .hero-box--img span {
    display: none;
  }
  .hero-box--img-text-1,
  .hero-box--img-text-2,
  .hero-box--img-text-3,
  .hero-box--img-text-4 {
    position: absolute;
    display: block;
  }
  .hero-box--img-text-1 {
    top: 0;
    left: 30px;
  }
  .hero-box--img-text-2 {
    top: 145px;
    left: 2px;
  }
  .hero-box--img-text-3 {
    top: 390px;
    left: 0;
  }
  .hero-box--img-text-4 {
    left: 30px;
    bottom: 3px;
  }
  .hero-box--img-text-1:after,
  .hero-box--img-text-2:after,
  .hero-box--img-text-3:after,
  .hero-box--img-text-4:after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .hero-box--img-text-1:after {
    background-image: url("../images/hero/line-1.svg");
    width: 225px;
    height: 234px;
    top: 15px;
    left: -5px;
  }
  .hero-box--img-text-2:after {
    background-image: url("../images/hero/line-2.svg");
    width: 252px;
    height: 108px;
    top: 15px;
    left: -5px;
  }
  .hero-box--img-text-3:after {
    background-image: url("../images/hero/line-4.svg");
    width: 240px;
    height: 115px;
    top: -92px;
    left: -3px;
  }
  .hero-box--img-text-4:after {
    background-image: url("../images/hero/line-4.svg");
    width: 240px;
    height: 115px;
    top: -92px;
    left: -5px;
  }
  .hero-social {
    position: absolute;
    display: flex;
    gap: 40px;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
  }
  .store-box--img {
    width: 349px;
    height: 349px;
  }
  .movie-list--item {
    width: 600px;
  }
  .store-swiper {
    height: 720px;
  }
  .store-inner--first {
    margin-bottom: -40px;
  }
  .footer-nav {
    gap: 70px;
  }
  .footer-contacts {
    gap: 70px;
  }
}

@media only screen and (min-width: 821px) {
  .heder-menu--list {
    display: flex;
    gap: 52px;
  }
  .header-contacts--btn {
    display: block;
  }
  .header-burger--btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .hero-mobile {
    display: none;
  }
  .store-descr {
    width: 375px;
  }
  .footer-nav {
    gap: 100px;
  }
  .footer-contacts {
    gap: 100px;
  }
}

@media only screen and (min-width: 900px) {
  .gallery-swiper-button {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (min-width: 950px) {
  .movie-list {
    flex-direction: row;
    gap: 30px;
  }
  .movie-item {
    margin-bottom: 16px;
  }
  .movie-list--item-odd {
    margin-left: 0;
  }
  .movie-list--item-even {
    margin-right: 0;
  }
  .store-descr {
    width: 400px;
  }
  .gallery-swiper-button {
    width: 32px;
    height: 32px;
  }
  .footer-contacts {
    gap: 140px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 0 47px;
  }
  .hero-inner {
    margin-bottom: 0;
  }
  .hero-box--img {
    width: 432px;
  }
  .hero-box--img span {
    display: block;
  }
  .store-slide {
    padding: 32px 47px;
  }
  .store-inner {
    gap: 90px;
  }
  /* .store-inner--first {
    margin-bottom: -40px;
  } */
  .store-img {
    width: 349px;
  }
  .movie-list {
    gap: 100px;
  }
  .gallery-slide {
    padding: 0 36px 16px;
  }
  .gallery-swiper-button-prev {
    left: 0px;
  }
  .gallery-swiper-button-next {
    right: 0px;
  }
  .footer {
    padding: 24px 0;
  }
  .footer-main {
    gap: 171px;
  }
  .footer-nav {
    gap: 157px;
  }
  .footer-contacts {
    gap: 140px;
  }
  .modal-contacts--close-btn:hover,
  .modal-contacts--close-btn:focus,
  .modal-order--close-btn:hover,
  .modal-order--close-btn:focus {
    background-color: #bc1a1a;
  }
}

@media only screen and (min-width: 1150px) {
  .hero-social {
    flex-direction: column;
    gap: 32px;
    position: initial;
  }
  .store-slide {
    padding: 32px 180px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    padding: 0 85px;
  }
  .footer-contacts {
    gap: 218px;
  }
}
